<main>
    <section id="section-login">
        <h2>Login</h2>
        <form class="row g-3">
            
              <label for="id-usuario" class="visually-hidden">Usuário</label>
              <input type="text" name="usuario" class="form-control" id="id-usuario" placeholder="email@exemplo.com">
            
            <br>
            
              <label for="id-senha" class="visually-hidden">Senha</label>
              <input type="password" name="senha" class="form-control" id="id-senha" placeholder="senha">
              <br>
              <button type="submit" class="btn btn-primary mb-3" (click)="fazerLogin()">Login</button>
          </form>
    </section>
</main>
